
body {
  background: #e5e5e5;
  margin: 0px;
}

.topbar {
  display: flex;
  background-color: #3c3a39;
  color: #fff;
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0px;
  top: 0px;
}

.logo {
  padding: 12px 25px;
  width: 77px;
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 46px;  
}

.menu-icon {
  margin-left: auto;
  margin-top: 53px;
  padding: 12px 25px;  
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  height: 590px;
  width: 375px;
  left: 0px;
  top: 92px;
  border-radius: 0px;
  position: absolute;
  background: #1C1A19;
}

.title {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #FF6B00;
  margin: 0px 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.subtitle {
  width: 327px;
  height: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFF5E1;
  margin: 0px 0px;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0px;
  margin: 0px 0px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.social-media {
  display: flex;
  gap: 24px;
  order: 2;
}

.bimage {
  display: flex;
  align-content: left;
  background: #fff;
  position: absolute;
  left: 80.57%;
  right: 0%;
  top: 65.59%;
  bottom: 9.36%;
  background: #FFFFFF;
  border: 0.496227px solid #FF6B00;
  transform: matrix(-0.96, 0.27, 0.27, 0.96, 0, 0);
}
